<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CALC</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    .form-control:focus {
      box-shadow: 0 0 0 0;
      border-color: rgb(247, 166, 0);
    }
    .dropdown-item.active {
      background-color: rgb(247, 166, 0);
    }
    .navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
      color: rgb(247, 166, 0);
    }
    tbody .table-secondary {
      
    }
    tbody .table-success {
      
    }
  </style>
</head>
<body>
  <div id="app" class="container" style="max-width: 680px;">
    <nav class="navbar navbar-expand bg-body-tertiary container sticky-top">
      <div class="container">
        <!-- <a class="navbar-brand" href="#">Caculator</a> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" :class="{ active : state == 'crypto' }" @click="changeState('crypto')" href="#">Crypto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" :class="{ active : state == 'currency' }" @click="changeState('currency')" href="#">Currency</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" :class="{ active : state == 'gold' }" @click="changeState('gold')" href="#">Gold</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ranking
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#rankModal">Silver</a></li>
                <li><a class="dropdown-item" href="#">Gold</a></li>
                <li><a class="dropdown-item" href="#">Platinum</a></li>
                <li><a class="dropdown-item" href="#">Diamond</a></li>
                <li><a class="dropdown-item" href="#">Master</a></li>
                <li><a class="dropdown-item" href="#">Conqueror</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container card mt-3 text-secondary-emphasis">
      <form class="container card-body row w-auto">
        <div class="container col-12 col-sm-6">
          <div class="mb-3 row justify-content-center">
            <label for="balance" class="col col-form-label">Balance</label>
            <div class="col">
              <input type="text" disabled class="form-control" id="balance" v-model="balance">
            </div>
          </div>
          <div class="mb-3 row justify-content-center">
            <label for="risk" class="col col-form-label">Risk</label>
            <div class="col">
              <input type="text" disabled class="form-control" id="risk" v-model="risk">
            </div>
          </div>
          <div class="mb-3 row justify-content-center">
            <label for="entry" class="col col-form-label">Entry Price</label>
            <div class="col">
              <input type="text" class="form-control" id="entry" v-model="entry">
            </div>
          </div>
          <div class="row justify-content-center">
            <label for="close" class="col col-form-label">Close Price</label>
            <div class="col">
              <input type="text" class="form-control" id="close" v-model="close">
            </div>
          </div>
        </div>
        <div class="container col-12 col-sm-6 border">
          <div class="mb-3 row justify-content-center">
            <label for="leverage" class="col col-form-label">Leverage</label>
            <div class="col">
              <input type="text" style="color: rgb(247, 166, 0)" disabled class="form-control-plaintext" id="leverage" :value="leverage">
            </div>
          </div>
          <div class="row justify-content-center">
            <label for="qty" class="col col-form-label">Qty</label>
            <div class="col">
              <input type="text" style="color: rgb(247, 166, 0)" disabled class="form-control-plaintext" id="qty" :value="qty">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal fade" id="rankModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          balance: 175,
          state: 'crypto',
          initBalance: 5,
        }
      },
      computed: {
        ratio() {
          let r = localStorage.getItem("ratio") || 5
          localStorage.setItem("ratio", r)
          return parseFloat(r)
        },
        multi() {
          let r = localStorage.getItem("multi") || 1.5
          localStorage.setItem("multi", r)
          return parseFloat(r)
        },
        entry: {
          get() {
            return parseFloat(localStorage.getItem("entry") || "")
          },
          set(e) {
            localStorage.setItem("entry", e)
          }
        },
        close: {
          get() {
            return parseFloat(localStorage.getItem("close") || "")
          },
          set(e) {
            localStorage.setItem("close", e)
          }
        },
        risk() {
          return Math.floor(this.balance * this.ratio / 100 * 100) / 100
        },
        qty() {
          if ((this.entry == this.close) || (this.entry == '' || this.close == '')) {
            return '--'
          }
          return Math.floor(Math.abs(this.risk / (this.close - this.entry)) * 1000000) / 1000000
        },
        leverage() {
          if ((this.entry == this.close) || (this.entry == '' || this.close == '')) {
            return '--'
          }
          return Math.floor(Math.abs(this.entry / (this.close - this.entry)) * 1000000) / 1000000
        },
        start() {
          return {'id': 0, 'level': 0, 'balance': this.initBalance}
        },
        silver() {
          let s = 7
          let l = []
          let init = 2
          l.push({'id': 1, 'level': 1, 'balance': this.initBalance + this.multi})
          l.push({'id': 2, 'level': 2, 'balance': this.initBalance + this.multi + this.multi * this.multi})
          for (let i = 3; i <= s; i++) {
            let v = l[init]['balance'] + (l[init]['balance'] - l[init-1]['balance']) * this.multi
            l.push({'id': init, 'rank': 'Silver', 'level': i, 'balance': v})
            init++
          }
        },
        level() {
          let l = []
          let silver = 7
          let gold = 7
          let platinum = 7
          let diamond = 6
          let master = 5
          let conqueror = 5
          l.push({'id': 0, 'rank': 'Start', 'level': 0, 'balance': this.initBalance})
          l.push({'id': 1, 'rank': 'Silver', 'level': 1, 'balance': this.initBalance + this.multi})
          let init = 1
          for (let i = 2; i <= silver; i++) {
            let v = l[init]['balance'] + (l[init]['balance'] - l[init-1]['balance']) * this.multi
            l.push({'id': init, 'rank': 'Silver', 'level': i, 'balance': v})
            init++
          }
          for (let i = 1; i <= gold; i++) {
            let v = l[init]['balance'] + (l[init]['balance'] - l[init-1]['balance']) * this.multi
            l.push({'id': init, 'rank': 'Gold', 'level': i, 'balance': v})
            init++
          }
          for (let i = 1; i <= platinum; i++) {
            let v = l[init]['balance'] + (l[init]['balance'] - l[init-1]['balance']) * this.multi
            l.push({'id': init, 'rank': 'Platinum', 'level': i, 'balance': v})
            init++
          }
          for (let i = 1; i <= diamond; i++) {
            let v = l[init]['balance'] + (l[init]['balance'] - l[init-1]['balance']) * this.multi
            l.push({'id': init, 'rank': 'Diamond', 'level': i, 'balance': v})
            init++
          }
          for (let i = 1; i <= master; i++) {
            let v = l[init]['balance'] + (l[init]['balance'] - l[init-1]['balance']) * this.multi
            l.push({'id': init, 'rank': 'Master', 'level': i, 'balance': v})
            init++
          }
          for (let i = 1; i <= conqueror; i++) {
            let v = l[init]['balance'] + (l[init]['balance'] - l[init-1]['balance']) * this.multi
            l.push({'id': init, 'rank': 'Conqueror', 'level': i, 'balance': v})
            init++
          }
          for (let i = 0; i < l.length; i++) {
            let v = Math.round(l[i]['balance'] * 100) / 100
            l[i]['balance'] = v
          }
          
          return l
        }
      },
      methods: {
        changeState(state) {
          this.state = state
        }
      }
    }).mount('#app')
  </script>
</body>
</html>
